

page-home {

  .page{
    background-color:$app-background-color;
  
  .home-banner{
   margin-top:10%;
   text-align:center;
  .banner-text{
  	color:white;
    font-size:18px;
    
  }

  .button-text{
  	font-size:12px;
  }

}

  }
  .scan-button{
    
  	font-size:36px;
  	font-weight:bold;
  	color:white;
  }
  


 }


